.carousel-item.active{
    display: flex;
    transition: transform .8s ease;
}
.carousel-item .carousel-caption{
    bottom: unset;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: black;
    border-radius: 100%;

}
.imgc{
    padding-right: 30px;
    
}
img{
    border-radius: 20px;
}
.card-body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}
container{
    background-color: azure;
    box-shadow: 0 0 0px color red;
}
