.container {
    text-align: center;
    color: black;
    font-size: large;
    container: 500px;
    background-color: rgba(245, 244, 244, 0.854);
    border-radius: 40px;
    box-shadow: 100 100 40px color(srgb red rgb(37, 245, 37) rgb(17, 17, 132));
    padding: 10px;
}

p {
    color: rgb(1, 1, 46);
}

.card {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    align-items: center;
}

body {
    background-color: rgba(188, 188, 188, 0.721);
    border: 15px;
    border-radius: 60px;
    text-align: center;
    margin: 0 400px;
    font-family: cursive;
  display: column;
  font-family: cursive;

}

:root {
    --background-color: rgb(255, 255, 255);
    --color: rgb(28, 28, 29);
}


body.darkmode {
    --background-color: rgb(12, 10, 10);
    --color: rgb(255, 255, 255);
}

body {
    background-color: var(--background-color);
    color: var(--color);

    transition: background-color 0.5s, color 0.5s;
}

#modoEscuro {
    padding: 10px 9px;
    font-size: medium;
    cursor: pointer;
    color: var(--color);
    background-color: var(--background-color);
}

#menu .navbar-nav .dropdown-menu {
    right: 0;
    left: unset;
}


div.darkmode {
    --background-color: rgb(12, 10, 10);
    --color: rgb(255, 255, 255);
}

div {
    background-color: var(--background-color);
    color: var(--color);

    transition: background-color 0.5s, color 0.5s;
}

.volta {
    background-color: rgb(29, 192, 7);
    bottom: auto;
    border-bottom: 45px;
    margin-top: 15px;
    container: 400px;
    width: 300px;
    height: 50px;
    border-radius: 30px;
    font-size: large;

}

.volta :hover {
    background-color: rgba(30, 255, 0, 0.376);
}