:root{
    --background-color: rgb(255, 255, 255);
    --color: rgb(28, 28, 29);
}
body.darkmode{
    --background-color: rgb(12, 10, 10);
    --color: rgb(255, 255, 255);
}
body{
    background-color: var(--background-color);
    color: var(--color);
   
    transition: background-color 0.5s, color 0.5s;
}
.card-body img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

#modoEscuro{
    padding: 10px 9px;
    font-size: medium;
    cursor: pointer;
    color: var(--color);
    background-color: var(--background-color);
}
#menu .navbar-nav .dropdown-menu{
    right: 0;
    left: unset;
}
  .s {
         font-family: Brush Script;
      }
   
#textoResultado.col-md-4.mb-3{
    margin: 0 auto;
}

/* BOTAO MODO ESCURO*/
